SUPABASE_URL=
SUPABASE_KEY=
AUTH_CRYPT_KEY=
DADOS_CRYPT_KEY=
NGROK_API_TOKEN=
PUBLIC_URL_WS=
FLASK_ENV=development
SUPABASE_PROJECT_REF=
SUPABASE_DB_PASSWORD=
APP_URL=http://localhost:4200
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=
SMTP_PASSWORD=
SMTP_FROM=
